body {
    display: flex;
    background-color: #da4b09;
    flex-direction: column;
    align-items: center;
    padding: 1dvh;
    max-height: 100dvh;
}

.container {
    display: flex;
    background-color: #ff000021;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8dvh;
    border-radius: 20px;
}

.title {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.banner-text {
    width: 70%;
}

.banner-text img {
    width: 100%;
}

.icon {
    width: 15%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40dvh;
    padding-top: 3dvh;
    min-height: 400px;
}

.title2 {
    height: 10%;
}

.menu button {
    background: none;
    border: none;
    height: 8%;
    cursor: pointer;
}

.menu button img {
    height: 100%;
    transition: transform 0.3s ease;
}

.menu button:hover img {
    transform: scale(1.05);
}

.menu button:active img {
    transform: scale(0.9);
}

@media (max-width: 700px) {
    body {
        padding-top: 3dvh;
        padding-left: 0;
        padding-right: 0;
    }
    .amanda {order: 1;}
    .ethan {order: 2;}
    .banner-text {
        order: 3;
        width: 100%;
    }
    .icon {
        width: 40%;
    }
}