body {
    display: flex;
    background-color: #da4b09;
    flex-direction: column;
    align-items: center;
    max-height: 100dvh;
}

/* body div {
    border-color: black;
    border-style: dashed;
} */

.container {
    display: flex;
    /* background-color: #ff000021; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    /* padding-bottom: 50px; */
    /* border-radius: 20px; */
    color: white;
    font-family: "Shantell Sans", cursive;
    font-weight: 250;
    font-style: normal;
    font-size: xx-large;
    text-shadow: 2px 2px 0 #221934;
    letter-spacing: 2px;
}

.title {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.home-title {
    width: 70%;
}

.history-title {
    width: 30%;
}

.info-title {
    width: 25%;
}

.banner-text img {
    width: 100%;
}

.home-icon {
    width: 15%;
}

.history-icon {
    width: 8%;
}

.info-icon {
    width: 10%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40dvh;
    padding-top: 3dvh;
    min-height: 400px;
}

.title2 {
    height: 13%;
}

.menu a {
    background: none;
    border: none;
    height: 8%;
    cursor: pointer;
}

.menu a img {
    height: 100%;
    transition: transform 0.3s ease;
}

.menu a:hover img {
    transform: scale(1.05);
}

.menu a:active img {
    transform: scale(0.9);
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.history-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: min(50px, 8%);
    background-color: #221934;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.alt {
    flex-direction: row-reverse;
}

.imagestack {
    width: min(700px, 90%);
}

.imagestack img {
    width: 98%;
    /* height: auto;
    aspect-ratio: 4 / 3;
    object-fit: contain; */
    border-radius: 20px;
}

.history-text {
    width: min(700px, 90%);
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    /* text-align: justify; */
    font-family: "Shantell Sans", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: x-large;
    letter-spacing: 2px;
    text-shadow: 1px 2px 0 #221934;
}

.arrow-block {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.arrow-icon {
    background-color: none;
    height: 2.8em;
    width: 2.8em;
    display: flex;
    padding: 0.5em;
    margin: 1em auto;
    position: relative;
    border-radius: 4px;
}

.left-bar {
    position: absolute;
    background-color: #221934;
    top: 0px;
    left: -13px;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}

.right-bar {
    position: absolute;
    background-color: #221934;
    top: 0px;
    left: 13px;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}

.back-button {
    position: fixed;
    bottom: min(50px, 3%);
    right: min(50px, 3%);
    text-decoration: none;
}

.back-button div {
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: black;
    background-color: white;
    height: 50px;
    width: auto;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    border-radius: 50px;
    box-shadow: 5px 5px 0#221934;
}

.back-button div {
    transition: transform 0.3s ease;
}

.back-button div:hover {
    transform: scale(1.05);
}

.back-button div:active {
    transform: scale(0.9);
}

.info {
    padding: min(50px, 8%);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #221934;
    border-radius: 20px;
    width: min(900px, 80%);
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-family: "Shantell Sans", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
    text-shadow: 1px 2px 0 #221934;
    letter-spacing: 2px;
}

.info b {
    font-weight: 500;
}

.info-chunk {
    padding: min(50px, 8%);
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: none;
}

.party-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: min(50px, 8%);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: none;
}

.wedding-party-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wedding-party-image img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.wedding-party-description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.party-profile h5 {
    color: black;
    text-align: center;
    margin: 0;
}

.party-profile p {
    color: black;
    margin: 0;
}

.info img {
    max-width: 95%;
}

.info a:link, a:visited {
    color: inherit;
}

@media (max-width: 700px) {
    body {
        padding-top: 3dvh;
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        padding: 4%;
        padding-bottom: 60px;
    }
    .amanda {order: 1;}
    .ethan {order: 2;}
    .banner-text {
        order: 3;
        width: 90%;
    }
    .info-title {
        width: 65%;
    }
    .info {
        font-size: x-large;
    }
    .icon {
        width: 40%;
    }
    .wedding-party-description {
        width: 100%;
    }
    .wedding-party-image {
        width: 100%;
    }
}